





.tracks_chart{

  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #323232;
  margin-bottom: 20px;
}

.tracks_chart .img {
  width: 100px;
  height: 100px;
  position: relative;
  z-index: 1;
}

.tracks_chart .track_chart_actions {
  margin-top: 25px;
  color: #fff;
  border: 1px solid #323232;
  padding: 15px;
}


.tracks_chart .img span {

  position: absolute;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  font-family: 'Signika', sans-serif;
  background-color: #f4645f;
  bottom: 0;
  left: 0;
  font-size: 14px;
  z-index: 0;
  pointer-events: none;

}


.tracks_chart .track_chart_actions:hover{
  background-color: #f4645f;
}


.tracks_chart .track-overlay {

  display: none;
}

.tracks_chart .img:hover .track-overlay{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.tracks_chart .play{

  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 26px;
  margin: -12px 0 0 -9px;
  color: #fff;

}

.tracks_chart .pause{

  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 26px;
  margin: -12px 0 0 -9px;
  color: #fff;

}

.tracks_chart .fa{

  color: #fff;
}
