.player-section {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 9999;
    -webkit-box-shadow: 0 -2px 2px 0 rgba(0,0,0,.05);
    box-shadow: 0 -2px 2px 0 rgba(0,0,0,.05);
    background-color: #000000;
}

.wavesurfer{
    box-sizing: border-box;
    cursor: pointer;
    height: 275px;
    margin-bottom: 30px;
    overflow: hidden;
    padding-top: 60px;
    pointer-events: none;
    position: relative;
    width: 50px;
    z-index: 1;
}


.wavesurfer__elem {
    height: 500px;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: opacity 170ms linear;
    top: 0;
    width: 100%;
    z-index: 0;
}

.wavesurfer-handle{

    width: 50px;
}

.player-section .btn-custom {
    display: block;
    height: 48px;
    width: 48px;
    float: left;
    background-image: url('http://localhost/mdevelopement/public/img/player.png');
    background-repeat: no-repeat;
    background-position: -1px 0;
}

.player-section .btn-play {
    background-position: -50px 0;
}


.player-section .btn-add-to-basket {
    width: 50px;
    float: right;
    background-position: -100px 0;
}
