.player-section {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 9999;
    -webkit-box-shadow: 0 -2px 2px 0 rgba(0,0,0,.05);
    box-shadow: 0 -2px 2px 0 rgba(0,0,0,.05);
    background-color: #000000;
    border-top: 3px solid #f4645f;
}

.player-section .player {
    top: 10px !important;
}

.wavesurfer{
    box-sizing: border-box;
    cursor: pointer;
    height: 275px;
    margin-bottom: 30px;
    overflow: hidden;
    padding-top: 60px;
    pointer-events: none;
    position: relative;
    width: 50px;
    z-index: 1;
}




.wavesurfer__elem {
    height: 500px;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: opacity 170ms linear;
    width: 100%;
    z-index: 0;
    top: 10px;
}

.wavesurfer-handle{

    width: 50px;
}



.volume-button-parent {
    -webkit-box-flex: .4;
    -moz-box-flex: .4;
    -webkit-flex: .4;
    -ms-flex: .4;
    flex: .4;
    display: none;
    position: relative;
    margin: 0;
    z-index: 5;
}


.volume-button {
    cursor: pointer;
    height: 16px;
    display: block;
    z-index: 100;
    position: relative;
}


.player-section i{
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 18px;
    margin: 0 3px;
    line-height: 50px;
    text-align: center;
    color: #000000 !important;
    background-color: #fff;
    border-radius: 100px;
    background-size: 100% 100%;
    border-radius: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.volume-drop {
    box-sizing: border-box;
    display: none;
    opacity: 0;
    border-radius: 3px;
    position: absolute;
    bottom: -15px;
    margin: 0;
    padding: 20px 20px 20px 60px;
    background: #000;
    text-align: center;
    transition: opacity .2s;
    z-index: 9;
    border: 1px solid #333;
}

.volume-drop-range {
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
    position: relative;
    width: 8px;
    height: 150px;
    padding: 0;
    margin: 0;
    display: block;
}

.player-section .volume:hover .volume-drop {

    display: block;
    opacity: 1;
}

.player-section .volume:hover i {

    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 18px;
    margin: 0 3px;
    line-height: 50px;
    text-align: center;
    color: #ffffff !important;
    background-color: #000000;
    border-radius: 100px;
    background-size: 100% 100%;
    border-radius: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}


input[type=range]::-moz-range-track {
    background-color: #f4645f;
}


.player-section i:hover {
    background-color: #f4645f;
}
